.contenedor{
    height: 97vh;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.3em;

    
}
.item{
    background-color: aquamarine;

}

#item1{
    grid-column-start: 1; 
    grid-column-end: 7;
}

#item2{
    grid-column-start: 1; 
    grid-column-end: 3;
}

#item3{
    grid-column-start: 3; 
    grid-column-end: 5;
}

#item4{
    grid-column-start: 5; 
    grid-column-end: 7;
}

#item5{
    grid-column-start: 1; 
    grid-column-end: 4;
}

#item6{
    grid-column-start: 4; 
    grid-column-end: 7;
}


